* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.main-div {
  display: flex;
  height: 100vh;
}

.first-section {
  flex: 50%;
  border-right: 2px solid black;
  height: 100vh;
  overflow-y: auto;
}

.first-section ul {
  margin: 20px;
}

.first-section ul li {
  background-color: navajowhite;
  list-style: none;
  margin: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.second-section ul {
  margin: 20px;
}

.second-section ul li {
  background-color: navajowhite;
  list-style: none;
  margin: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.fav-button {
  /* padding:5px 15px; */
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.close-button {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.second-section {
  flex: 50%;
}
